html {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
   
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #042c04;
	height: 100%;
	width: 100%;
	margin: 0;
       
}

.container{
    background-image: url(./images/wallpaper.jpg);
  }

  a:visited {
	color: rgb(48, 19, 144);
  }
  
  a:hover {
	color: blue;
  }
    
 

.card{
padding: 50px;

}

.container{
	background-color: #042c04;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	flex: 0%;
	max-width: 50%;
	  
	  
}
label {
	color: whitesmoke;
	font-size: 30px;
	text-align: left;
}

.submitButton{
padding-left: 200px;
}

#card-title{
	text-align: center;
	font-weight: 900;
	font-size: 40px;

}

h2 {
	color: whitesmoke;
	text-align: left;
}

.containerForm{
	padding-top: 40px;
	padding-left: 300px;
}

.wrapper {
	min-height: 100%;
	min-width: 100%;
	
	margin-bottom: 0px;
}

.footer {
	padding: 20px 0;
	clear: both;
	font-size: 12px;
	color: #fff;
	color: #ccc;
	text-align: center;
	background: #666;
	border-top: 8px solid lightskyblue;
	height: 50px;
	width: 100%;
	
	
}

.push {
	height: 20px;
}